*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.container{
    background-color: rgb(3, 3, 108);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: rgb(248, 248, 255);
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(204, 149, 240, 0.1), 5px 5px 15px rgba(28, 2, 46, 0.1);
    background-color: transparent;
    font-size: 16px;
    color: blueviolet;
    font-family: bolder;
    cursor: pointer;
    margin: 8px;
}
form .display{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form div .equal {
    width: 145px;
}
form input.operator{
    color: #021613;
    font-weight: bold;
    background-color: #c3acd0;
}